@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: "Roboto", sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#overlay {
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  width: 80%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
#overlay a {
  text-decoration: none;
  color: white;
}
#overlay ul {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
}
#overlay li {
  padding-top: 70px;
  font-size: 3rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header {
  margin: -6px;
  background: url("/images/headerimgmob.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60vh;
  padding: 20px;
  color: white;
}
header .fa-accusoft {
  color: #25D317;
}
header .ham-button {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
header ul {
  display: none;
}
header .header-buttons__brand {
  display: flex;
  justify-content: space-between;
}
header .special a {
  text-decoration: none;
  color: #25D317;
}
header a {
  text-decoration: none;
  color: white;
}
header .info-header {
  padding-top: 50px;
  text-align: center;
}
header .info-header h2 {
  letter-spacing: 5px;
  font-size: 2rem;
}
header .info-header h4 {
  font-size: 1.5rem;
}
header .info-header p {
  line-height: 2rem;
}
header span {
  color: #25D317;
}

#car-performace {
  background: #090A08;
  color: white;
  font-family: "lobster", sans-serif;
}
#car-performace .car-perfomace__text {
  text-align: center;
}
#car-performace .car-perfomace__text h2 {
  padding-top: 20px;
}
#car-performace .car-performance__moreinfo {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, auto);
}
#car-performace h2 {
  font-size: 2rem;
}
#car-performace p {
  font-size: 1rem;
}
#car-performace i {
  color: #25D317;
}

#car-stats {
  background: #0A0B0A;
  color: white;
  margin: 0;
}
#car-stats table {
  margin: 0 auto;
  padding-top: 5rem;
  text-align: center;
}
#car-stats th {
  padding: 10px;
  background-color: #5B9757;
  color: white;
}
#car-stats td {
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid white;
}
#car-stats .last-td {
  border-bottom: none;
}

#car-image__display {
  text-align: center;
  width: 100%;
  padding-top: 0.2rem;
  color: white;
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-content: center;
  font-family: "lobster";
}
#car-image__display img {
  width: 100%;
}
#car-image__display p {
  color: #9CD898;
}

#final-section {
  background: url("/images/finalimage2.0.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60vh;
  padding-top: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#final-section h3 {
  font-size: 2.5rem;
  color: #9CD898;
  padding-bottom: 20px;
}

footer {
  text-align: center;
  color: white;
}

@media (min-width: 40rem) {
  header .header-buttons__brand {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  header .buttons {
    display: none;
  }
  header ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  header li {
    padding: 0 10px;
  }
  header .special {
    color: #25D317;
  }
  header .info-header {
    padding-top: 10px;
    text-align: center;
  }
  header .info-header h2 {
    letter-spacing: 5px;
    font-size: 4rem;
  }
  header .info-header h4 {
    font-size: 2.5rem;
  }
  header .info-header p {
    line-height: 2.5rem;
  }
  header span {
    color: #25D317;
  }

  #car-performace .car-performance__moreinfo {
    padding-top: 40px;
    grid-template-columns: repeat(3, auto);
  }

  #car-stats table {
    width: 80%;
    font-size: 1.5rem;
  }

  #car-image__display {
    grid-template-columns: 70% 30%;
    grid-row-gap: 1.5rem;
    grid-column-gap: 0.1rem;
    align-items: center;
  }
  #car-image__display img {
    width: 100%;
  }
  #car-image__display p {
    color: #9CD898;
  }

  #final-section {
    height: 60vh;
  }
}
@media (min-width: 59rem) {
  header {
    height: 80vh;
  }
  header li {
    padding: 0 30px;
    font-size: 1.2rem;
  }
  header .info-header {
    padding-top: 5%;
  }
  header .info-header h2 {
    letter-spacing: 5px;
    font-size: 4rem;
  }
  header .info-header h4 {
    font-size: 2.5rem;
  }
  header .info-header p {
    line-height: 3rem;
    font-size: 1.8rem;
  }

  #car-image__display {
    grid-template-columns: 60% 40%;
    grid-row-gap: 1.5rem;
    grid-column-gap: 0.1rem;
    align-items: center;
  }
  #car-image__display img {
    width: 100%;
  }
  #car-image__display p {
    color: #9CD898;
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
